.body {
  background: #eee;
  font-family: Arial, sans-serif;
  width: 100%;
}
.container {
  padding-bottom: 90px;
}
.board {
  position: absolute;
}
.row1,.row2,.row3,.row4, .row5 {
  height: 150px;
  width: 150px;
  display: inline-block;
  position: relative;
  /*margin-bottom: 15px;*/
}
.flip {
  position:relative;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d
}
.tile {
  height: 150px;
  width: 150px;
}
.top {
  background-color: #85c226;
}
.top:nth-child(odd) {
  background-color: #254808;
}
footer {
  height: 90px;
  background-color: #e5e5e5;
}